html, body { background: #E0EAFC; background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC); background: linear-gradient(to right, #CFDEF3, #E0EAFC); }
h1, h2, h3, h4, h5, h6, p, a, b, td, div { transition: 0.5s; color: black; }
a:hover { transition: 0.5s; color: #505050; }
a:after { display: block; position: absolute; left: 0; width: 0; height: 1px; background-color: #505050; content: ""; transition: width 0.5s ease-out; }

::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: #E0EAFC; }
::-webkit-scrollbar-thumb { background: #adad9bcc; border-radius: 10px; }
::-webkit-scrollbar-thumb:hover { background: #d8d8c8cc; border-radius: 10px; }
