html, body { background: #83a4d4; background: -webkit-linear-gradient(to left, #b6fbff, #83a4d4); background: linear-gradient(to left, #b6fbff, #83a4d4); }
h1, h2, h3, h4, h5, h6, p, a, b, td, div, li { color: black; }
a:hover { color: #505050; }
a:after { background-color: #505050; }

::-webkit-scrollbar-track { background: #b6fbff; }
::-webkit-scrollbar-thumb { background: #adadabcc; }
::-webkit-scrollbar-thumb:hover { background: #a0a0a0cc; }

.mobile_block_social { transition: 0.5s; box-shadow: -8px -8px 12px #b6b6b69d; border-radius: 24px 24px 0px 0px; background: #9796f0; background: -webkit-linear-gradient(to left, #fbc7d4, #9796f0); background: linear-gradient(to left, #fbc7d4, #9796f0); }