html, body { background: #000428; background: -webkit-linear-gradient(to right, #004e92, #000428); background: linear-gradient(to right, #004e92, #000428); }
h1, h2, h3, h4, h5, h6, p, a, b, td, div { color: whitesmoke; }
a:hover { color: #c7c7c7; }
a:after { background-color: #c7c7c7; }

::-webkit-scrollbar-track { background: #000428; }
::-webkit-scrollbar-thumb { background: #5f5f5fcc; }
::-webkit-scrollbar-thumb:hover { background: #9e9e9ecc; }
