@import url(https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap);

html, body { margin: 0; background-color: whitesmoke; }
h1, h2, h3, h4, h5, h6, p, a { font-family: 'Montserrat'; text-decoration: none; color: black; }

h1.logo {font-family: 'Comfortaa'; }
div.up {position: absolute; bottom: 50px; }

.header { display: flex; height: 35px; padding: 12px; align-items: center; user-select: none; }
.header_text { margin: 16px; user-select: auto; }
.header_text:hover {text-decoration: underline; }
.void { margin-right: auto; }
  