@font-face { font-family: 'Comfortaa'; font-style: normal; font-weight: 700; font-display: swap; src: url(fonts/c1.woff2) format('woff2'); unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }
@font-face { font-family: 'Comfortaa'; font-style: normal; font-weight: 700; font-display: swap; src: url(fonts/c2.woff2) format('woff2'); unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }
@font-face { font-family: 'Comfortaa'; font-style: normal; font-weight: 700; font-display: swap; src: url(fonts/c3.woff2) format('woff2'); unicode-range: U+0370-03FF; }
@font-face { font-family: 'Comfortaa'; font-style: normal; font-weight: 700; font-display: swap; src: url(fonts/c4.woff2) format('woff2'); unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB; }
@font-face { font-family: 'Comfortaa'; font-style: normal; font-weight: 700; font-display: swap; src: url(fonts/c5.woff2) format('woff2'); unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }
@font-face { font-family: 'Comfortaa'; font-style: normal; font-weight: 700; font-display: swap; src: url(fonts/c6.woff2) format('woff2'); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

@font-face { font-family: 'Montserrat'; font-style: normal; font-weight: 400; font-display: swap; src: url(fonts/m1.woff2) format('woff2'); unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }
@font-face { font-family: 'Montserrat'; font-style: normal; font-weight: 400; font-display: swap; src: url(fonts/m2.woff2) format('woff2'); unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }
@font-face { font-family: 'Montserrat'; font-style: normal; font-weight: 400; font-display: swap; src: url(fonts/m3.woff2) format('woff2'); unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB; }
@font-face { font-family: 'Montserrat'; font-style: normal; font-weight: 400; font-display: swap; src: url(fonts/m4.woff2) format('woff2'); unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }
@font-face { font-family: 'Montserrat'; font-style: normal; font-weight: 400; font-display: swap; src: url(fonts/m5.woff2) format('woff2'); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

html, body { margin: 0; overflow-x: hidden; }
h1, h2, h3, h4, h5, h6, p, a, td { font-family: 'Montserrat'; text-decoration: none; color: black; }
a { transition: 0.5s; position: relative; cursor: pointer; line-height: 1; text-decoration: none; }
a:hover { transition: 0.5s; color: #505050; }
a:after { display: block; position: absolute; left: 0; width: 0; height: 1px; background-color: #505050; content: ""; transition: width 0.5s ease-out; }
a:hover:after, a:focus:after { width: 100%; }

/* ONLY FOR WEBKIT BROWSERS */
::-webkit-scrollbar { width: 10px; border-radius: 10px; }
::-webkit-scrollbar-track { background: transparent; border-radius: 10px; }
::-webkit-scrollbar-thumb { background: #adad9bcc; border-radius: 10px; }
::-webkit-scrollbar-thumb:hover { background: #d8d8c8cc; border-radius: 10px; }

.header { display: flex; height: 35px; padding: 12px; align-items: center; user-select: none; }
.header_text { margin: 16px; }

.logo {font-family: 'Comfortaa'; user-select: none; }
.logo:after { height: 2px; }
.up {position: fixed; bottom: 100px; }
a.up::after { display: none; }
.void { margin-right: auto; }
