html, body { background: #FFEEEE; background: -webkit-linear-gradient(to right, #DDEFBB, #FFEEEE); background: linear-gradient(to right, #DDEFBB, #FFEEEE); }

.start { width: 100%; height: 100%; user-select: none; }
.start_text { font-size: 32px; text-align: center; padding: 15% 0 5% 0; }
p.start_arrow { text-align: center; padding: 0 0 10% 0; }
img.start_arrow { height: 106px; width: 106px; }

.content { padding: 18px; font-size: 28px; }
h2.content_text { padding: 0 0 0 28px; margin: 20px 0; }
p.content_text { width: 45%; }
div.table { display: flex; }
div.convoid { padding: 18px; }
div.b { height: 128px; width: 128px; padding: 8px; }

div.neomorphism { box-shadow: 8px 8px 10px 0 #858585 inset, -6px -6px 15px 0 #fff4cf inset; border-radius: 24px; padding: 32px 22px 22px 52px; background: #FFEFBA; background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA); background: linear-gradient(to right, #FFFFFF, #FFEFBA); }
div.o { box-shadow: 8px 8px 15px #505050, -6px -6px 12px #fff4cf; border-radius: 24px; height: 100%; width: 100%; background: #FBD786; }
div.i { box-shadow: 8px 8px 15px 0 #505050 inset, -6px -6px 12px 0 #fff4cf inset; border-radius: 24px; height: 100%; width: 100%; background: #f7797d; }

div.gradients { box-shadow: 8px 8px 15px #858585, -6px -6px 12px #fff4cf; border-radius: 24px; padding: 32px 22px 22px 52px; background: #ddd6f3; background: -webkit-linear-gradient(to right, #faaca8, #ddd6f3); background: linear-gradient(to right, #faaca8, #ddd6f3); }
div.s { box-shadow: 8px 8px 15px #505050, -6px -6px 12px #fff4cf; border-radius: 24px; height: 100%; width: 100%; background: #BA8B02; background: #F2994A; background: -webkit-linear-gradient(to right, #F2C94C, #F2994A); background: linear-gradient(to right, #F2C94C, #F2994A); }
div.f { box-shadow: 8px 8px 15px #505050, -6px -6px 12px #fff4cf; border-radius: 24px; height: 100%; width: 100%; background: #CB356B; background: -webkit-linear-gradient(to right, #BD3F32, #CB356B); background: linear-gradient(to right, #BD3F32, #CB356B); }