.start { height: 100%; width: 100%; user-select: none; }
.start_text { font-size: 32px; text-align: center; padding: 15% 0 5% 0; }
p.start_arrow { text-align: center; }
img.start_arrow { height: 106px; width: 106px; transform: rotate(180deg); transform-origin: center center; }